<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla JS Carousel</title>
    <h1>Vanilla JS Carousel</h1>
    <a id="thumbnail" href="#"><img src="images/beach.jpg" alt=""></a>
    <a id="thumbnail" href="#"><img src="images/dunes.jpg" alt=""></a>
    <a id="thumbnail" href="#"><img src="images/mountain.jpg" alt=""></a>
    <a id="thumbnail" href="#"><img src="images/sea.jpg" alt=""></a>
    <a id="thumbnail" href="#"><img src="images/tree.jpg" alt=""></a>
    <div class="carousel"></div>

</head>
<body>
</body>
</html>